.jobs-body-container {
  background-color: #000000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}
.search-input {
  background-color: transparent;
  border: none;
  color: #7e858e;
  font-size: 19px;
  height: 50px;
  padding: 10px;
  width: 500px;
  outline: none;
}
.search-button {
  background-color: #202020;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
.search-icon {
  width: 30px;
  height: 30px;
  color: #ffffff;
  padding: 5px;
}
.line {
  width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.category-text {
  color: #ffffff;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 800;
}
.no-job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-jobs {
  height: 400px;
  width: 400px;
}

.no-jobs-heading {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  font-family: 'Roboto';
}
.no-jobs-description {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
