.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Roboto';
}
.description {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
}
.find-jobs-button {
  background-color: #6366f1;
  color: #ffffff;
  font-size: 19px;
  font-weight: 800;
  font-family: 'Roboto';
  padding: 15px;
  align-self: flex-start;
  border-radius: 10px;
  outline: none;
  border: none;
}
